* {
	font-family: 'Montserrat', sans-serif;
}

p {
	font-family: 'Lato', sans-serif;
}

header {
	padding-top: 40px;
	padding-bottom: 50px;
}
header .menu {
	text-align: right;
	padding-right: 0px !important;
}
header .menu-linguagem a {
	color: #777;
	font-size: 14px;
	font-weight: 200;
	margin-left: 35px;
}
header .menu a:hover {
	text-decoration: none;
}
header .dropdown-menu a {
	color: #000;
	line-height:1.8em;
	margin-right: 5px;
}
header .dropdown-menu a:hover {
	color: #000;
	text-decoration: none;
	font-weight: bold !important;
}
header .exposicoes-options {
	width: 70px;
    margin: auto;
    text-align: left;
}
header .col-logo-topo {
	padding-left: 0px !important;
}
header .logo-topo {
	margin-left: 0px !important;
}
header .navbar-collapse {
	padding-right: 0px !important;
}
header .navbar-toggle {
	border: none !important;
}

#slider-home img {
	width: 100%;
}

.navbar-nav>li {
	letter-spacing: 0.2px;
}
.menu-home .dropdown-menu h5 {
	text-align: left;
    text-transform: lowercase;
    font-variant:small-caps;
	font-weight:500px;
	color:#7d7d7d;
}
.dropdown-exposicoes {
	text-align: center !important;
}
.menu-home .dropdown-exposicoes h5 {
	text-align: center !important;
}
.dropdown-menu-textos li {
	text-align: right;
    margin-right: 28%;
}
.dropdown-menu-textos li a {
	font-weight: 200 !important;
}
@media (min-width: 768px) and (max-width: 991px) {
	header .logo-topo {
		width: 150px;
	}
}

@media(max-width:767px){
	header {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.navbar-default {
		background-color: transparent !important;
		border: none !important;
	}
	.navbar-default .navbar-nav>li>a {
		text-transform: uppercase;
	}
	div#bs-example-navbar-collapse-1 {
		background: #e2e1e1;
		text-align: center;
	}
	header .logo-topo {
		margin-top: 20px;
    	margin-left: 15px !important;
	}
	header .menu-linguagem .logo-topo {
		margin-left: 0px !important;
	}
	header .menu-linguagem .logo-topo img {
		margin-top: 20px;
	}
	header .menu-linguagem .menu {
		text-align: left;
	    margin-top: 30px;
	    margin-bottom: 30px;
	    padding-left: 0;
	}
	header .menu-linguagem a {
		margin-left: 0px;
		margin-right: 35px;
	}
}
@media (min-width: 768px) {
	.navbar-nav {
	    float: right !important;
	    margin-top: -10px !important;
	    font-weight: 200 !important;
	}
	.navbar-default {
		background-color: transparent !important;
	    border-color: transparent !important;
	    margin-bottom: 0px !important;
	    min-height: 0px !important;
	    border: none !important;
	    max-height: 20px;
	}
	.nav>li>a {
		padding: 10px 10px !important;
	}
}


.content-size {
	margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media(min-width:768px){
	.content-size {
		width: 629px;
	}
}
@media(min-width:992px){
	.content-size {
		width: 850px;
	}
}
@media(min-width:1200px){
	.content-size {
		width: 1040px;
	}
}

.nav > li.dropdown.open {
    position: static;
}
.nav > li.dropdown.open .dropdown-menu {
    display:table; 
    width: 100%; 
    text-align: left; 
    left:0;
    right:0;
    background: #d1d1d1;
    border-radius: 0;
    border: none;
    box-shadow: none;
    margin-top: 30px;
    padding-bottom:25px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	background-color: transparent !important;
	border-bottom: 5px solid #939598;
	padding-bottom: 25px !important;
}
.dropdown.open .dropdown-menu li span {
	font-size: 12px;
    font-weight: 700;
    color: #717171;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	background-color: transparent !important;
}
.dropdown-menu .col-dropdown-menu {
	margin-right: 2%;
}

#citacoes {
	color: #939598;
}
#citacoes h2 {
	font-size: 25px;
	text-transform: uppercase;
	padding-left: 75px;
	font-weight: 200;
	letter-spacing: 2px;
	color: #939598;
}
#citacoes .box-citacoes {
	margin-right: 280px;
    margin-bottom: 100px;
}
#citacoes .img-lilian {
	float: right;
	padding-right: 0px;
	margin-top: -60px;
	margin-bottom: 50px;
	width: 770px;
}
#citacoes h5 {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
	padding-bottom: 10px;
	padding-top: 20px;
}
#citacoes p {
	font-size: 15px;
	font-weight: 200;
	line-height: 23px;
    letter-spacing: 1px;
    margin-bottom: 0px;
    padding-right: 30px;
}
#citacoes h4 {
	font-size: 12px;
	margin-left: 50px;
	line-height: 18px;
	font-weight: 200;
	font-family: Lato;
	letter-spacing: 0.3px;
	margin-top: 20px;
}
#citacoes .nota-explicativa {
	padding: 0px;
	margin-bottom: 20px;
	margin-top: 20px;
}
#citacoes .nota-explicativa p {
	font-size: 13px;
	line-height: 18px;
	font-weight: 200;
	font-family: Lato;
	letter-spacing: 0.3px;
}
#citacoes .box-citacoes ol {
	font-size: 15px;
    line-height: 23px;
    font-weight: 200;
    font-family: Lato;
    letter-spacing: 0.3px;
    padding-left: 15px;
    margin-bottom: 20px;
}
#citacoes .box-citacoes li {
	font-family: 'Lato', sans-serif;
}
#citacoes .img-citacoes {
	position: relative;
	padding: 0 !important;
}
#citacoes .img-citacoes .fotografo-citacoes {
	position: absolute;
	bottom:0;
	right:0;
	font-weight: 200;
    font-size: 13px !important;
    letter-spacing: 0.5px;
    color: #939598;
    font-family: Lato;
}


@media(max-width:767px){
	#citacoes .img-citacoes .fotografo-citacoes {
		margin-right: 15%;
	}
}
@media(min-width:768px){
	#citacoes .box-citacoes {
		margin-right: 0px;
	}
	#citacoes .box-destaque {
		position: relative;
		width: auto;
		top: 0px;
		z-index: 10000;
    	background: #ffffff;
	}
}
@media(min-width:992px){
	#citacoes .box-citacoes {
		margin-right: 280px;
	}
	#citacoes .box-destaque {
		position: absolute;
		width: 350px;
		background: #ffffff;
		top: 80px;
		left: -113px;
		padding-top: 20px;
    	padding-right: 25px;
    	padding-bottom: 30px;
	}
}
@media(min-width:1200px){}


#cronologia {
	color: #939598;
}
#cronologia h2 {
	font-size: 25px;
	text-transform: uppercase;
	padding-left: 75px;
	font-weight: 200;
	letter-spacing: 2px;
	color: #939598;
}
#cronologia .box-citacoes {
    margin-bottom: 60px;
}
#cronologia .img-lilian {
	/*float: right;
	padding-right: 0px;
	margin-top: -60px;
	margin-bottom: 50px;*/
    position: absolute;
    right: 0;
    display: block;
    margin: auto;
}
#cronologia .img-lilian-2 {
	margin-top: 600px !important;
}
#cronologia .img-lilian-3 {
	margin-top: 1070px !important;
}
#cronologia .img-lilian-4 {
	margin-top: 980px !important;
}
#cronologia .legenda-cronologia {
	font-size: 12px;
    line-height: 18px;
    font-weight: 200;
    font-family: Lato;
    letter-spacing: 0.3px;
    margin-top: 20px;
    position: absolute;
}
@media(max-width:767px){
	#cronologia .legenda-cronologia {
		margin-left: auto;
		left: 0;
		right: 13px;
		bottom: 30px;
		top: auto;
		text-align: center;
	}
}
@media(min-width:768px){
	#cronologia .legenda-cronologia {
		margin-left: 92px;
		top: 220px;

	}
}
@media(min-width:992px){
	#cronologia .legenda-cronologia {
		margin-left: 133px;
		top: 140px;
		margin-right: 110px;
	}
}
@media(min-width:1200px){
	#cronologia .legenda-cronologia {
	    margin-left: 193px;
	    top: 180px;
	}
}

@media(max-width:767px){
	#cronologia .img-lilian-2 {
		display: none;
	}
	#cronologia .img-lilian-3 {
		display: none;
	}
	#cronologia .img-lilian-4 {
		display: none;
	}
}
#cronologia h5 {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
}
#cronologia p {
	font-size: 15px;
	line-height: 22px;
	font-weight: 200;
	line-height: 23px;
    letter-spacing: 1px;
}
#cronologia p i {
	font-family: Lato;
}
#cronologia h4 {
	font-size: 12px;
	margin-left: 50px;
	line-height: 22px;
	font-weight: 200;
}
#cronologia .row-cronologia {
	margin-top: 50px;
	padding-left: 80px;
}


@media(max-width:767px){}
@media(min-width:768px){
	#cronologia .box-citacoes {
		margin-right: 0px;
		padding-left: 0;
	}
	#cronologia .box-destaque {
		position: relative;
		width: auto;
		top: 0px;
	}
}
@media(min-width:992px){
	#cronologia .box-destaque {
		position: absolute;
		width: 350px;
		background: #ffffff;
		top: 20px;
		left: -113px;
		padding-top: 20px;
    	padding-right: 25px;
    	padding-bottom: 30px;
	}
	#cronologia .box-destaque p {
		margin-bottom: 40px;
	}
	#cronologia .box-citacoes {
		padding-left: 15px;
	}
}
@media(min-width:1200px){}




#artes {
	color: #808285;
}
#artes h2 {
	font-size: 25px;
	text-transform: uppercase;
	margin-bottom: 70px;
	font-weight: 200;
	letter-spacing: 2px;
	padding-left: 15px;
	color: #939598;
}
#artes h5 {
	font-size: 14px;
}
#artes p {
	font-size: 14px;
	font-weight: 200;
	padding-right: 125px;
	margin-bottom: 0px;
}
#artes a {
	cursor: pointer;
}
#artes .conteudo-archive-arte {
	padding-bottom: 120px;
}
#artes img {
	width: 85%;
	margin-bottom: 20px;
}
@media(min-width:768px){
	#artes .content-size {
		width: 820px;
	}
	#artes h2 {
		padding-left: 110px;
	}
	#artes .conteudo-archive-arte {
		padding-left: 70px;
		padding-right: 0;
	}
}
@media(min-width:992px){
	#artes .content-size {
		width: 970px;
	}
	#artes h2 {
		padding-left: 110px;
	}
	#artes .conteudo-archive-arte {
		padding-left: 110px;
		padding-right: 0;
		padding-bottom: 90px;
	}
	#artes img {
		width: 90%;
		margin-bottom: 20px;
	}
}
@media(min-width:1200px){
	#artes .content-size {
		width: 1280px;
	}
	#artes h2 {
		padding-left: 140px;
	}
	#artes .conteudo-archive-arte {
		padding-left: 140px;
		padding-right: 0;
		padding-bottom: 120px;
	}
	#artes img {
		width: 85%;
		margin-bottom: 20px;
	}
}

.single-artes {
	position: relative;
}
.single-artes h5 {
	color: #939598;
	text-transform: uppercase;
	font-size: 25px;
    font-weight: 200;
    letter-spacing: 2px;
    margin-top: 20px;
    padding-left: 10px;
}
.single-artes h4 {
	font-size: 14px;
    color: #939598;
    margin-bottom: 50px;
    margin-top: 15px;
    font-weight: 200;
	letter-spacing: 0.5px;
	padding-left: 10px;
	cursor: pointer;
}
.single-artes h4 a {
	color: #777;
}
.single-artes h4 a:hover {
	text-decoration: none;
}
.single-artes .galeria-single {
	margin-top: 20px;
}
div#slider-single-artes {
	margin-bottom: 50px;
}
.single-artes .galeria-single .col-img-galeria {
	float: right;
}
.single-artes .link-processos-single-artes {
	position: absolute;
}
.single-artes .link-processos-single-artes,
.single-artes .link-processos-single-artes:hover {
	color: #939598;
	padding-left: 15px;
	font-weight: 200;
	font-size: 13px;
	letter-spacing: 0.5px;
	font-family: Lato;
}
.single-artes .row {
	position: relative;
}
.single-artes .open-gallery {
	position: absolute;
	right: 30px;
	bottom: 22px;
	z-index: 1000;
	cursor: pointer;
}
.single-artes button#my-back-button {
	color: #939598;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 200 !important;
    letter-spacing: 0.5px;
    line-height: 23px;
    font-family: 'Lato', sans-serif;
    position: absolute;
	bottom: 0;
	left: 0;
	border: none !important;
}
.single-artes button#my-back-button:hover,
.single-artes button#my-back-button:focus,
.single-artes button#my-back-button:active {
	background: transparent !important;
	border: none !important;
	outline: none;
	box-shadow: none;
}

@media(max-width:767px){
	.single-artes h5 {
		text-align: center;
	}
}
.single-artes p,
.single-artes p span {
	color: #939598;
	margin-bottom: 0px;
	font-size: 14px;
	font-weight: 200 !important;
	letter-spacing: 0.5px;
	line-height: 23px;
	font-family: 'Lato', sans-serif;
}
@media(max-width:767px){
	.single-artes p {
		text-align: left;
	}
}
@media(max-width:992px){
	.single-artes .img-arte {
		margin-bottom: 20px;
	}
	.single-artes p {
		margin-top: 0px;
	}
	.single-artes .nome-fotografo {
		position: relative;
		top: 10px;
		right: 0px;
	}
}
.single-artes .galeria-single img {
	width: 100%;
	cursor: pointer;
	margin-bottom: 30px;
}
.single-artes .img-arte {
	padding-left: 0;
}

@media(max-width:767px){
	.single-artes #slider-single-artes img {
		width:100%;
		height: auto;
	}
}
@media(min-width:768px){
	.single-artes #slider-single-artes img {
		margin-top: 0px;
	    max-height: 400px;
	    width: auto;
	}
}
@media(min-width:992px){
	.single-artes #slider-single-artes img {
		max-height: 350px;
		float: right;
	}
}
@media(min-width:1200px){
	.single-artes #slider-single-artes img {
		max-height: 430px;
		float: right;
	}
}
.single-artes #slider-single-artes .owl-prev,
.single-artes #slider-single-artes .owl-next {
	background: transparent !important;
	color: #939598;
	font-size: 30px;
}
.nome-fotografo {
	font-weight: 200;
    font-size: 13px !important;
    letter-spacing: 0.5px;
    color: #939598;
    font-family: Lato;
}
@media(min-width:768px){
	.nome-fotografo {
		position: absolute;
	    top: 5px;
	    right: 15px;
	}
}
@media(min-width:992px){
	.nome-fotografo {
		position: relative;
	    top: 35px;
	    margin-left: 15px;
	}
}
.single-artes .col-foto {
	height: 30px;
}
.fotografo-slider {
	bottom: 0 !important;
}
.single-artes .owl-nav {
	position: absolute;
	top: -70px;
	right: 35px;
}
.single-artes .modal {
	background: #ffffff !important;
}
.single-artes .modal-dialog {
	width: 100% !important;
	margin: 0 !important;
	height: 100vh;
}
.single-artes .modal-content {
	box-shadow: none !important;
    border: none !important;
}
.single-artes .modal-header {
	border: none !important;
	margin-top: 80px;
}
.single-artes .modal-title {
	font-size: 25px;
	color: #808285;
	text-transform: uppercase;
	font-weight: 200;
    letter-spacing: 1px;
}
#slider-modal-artes .item img {
	margin: auto;
    display: block;
    width: 100%;
}
#slider-modal-artes .owl-nav {
	top: -70px !important;
}
#slider-modal-artes .owl-next, #slider-modal-artes .owl-prev {
	background: transparent !important;
    color: #808285;
    font-size: 30px;
}
.single-artes .modal-header .close {
	margin-top: 23px;
	opacity: 1;
	outline: none;
}
#modal-artes .nome-fotografo {
	position: relative !important;
	float: right;
	top: 0px !important;
	left: 0px !important;
	margin-top: 15px;
}




#processos {
	color: #808285;
}
#processos h2 {
	font-size: 25px;
	text-transform: uppercase;
	margin-bottom: 70px;
	font-weight: 200;
	letter-spacing: 2px;
	padding-left: 15px;
	color: #939598;
}
#processos h5 {
	font-size: 14px;
	margin-bottom: 50px;
	letter-spacing: 1px;
	color: #939598;
}
#processos p {
	font-size: 12px;
	font-weight: 200;
	padding-right: 125px;
	margin-bottom: 0px;
}
#processos a {
	cursor: pointer;
}
#processos img {
	width: 100%;
	margin-bottom: 10px;
}
#processos .col-archive-processos {
	padding-bottom: 30px;
}
@media(min-width:768px){
	#processos .content-size {
		width: 750px;
	}
	#processos h2 {
		padding-left: 70px;
	}
	#processos .col-archive-processos {
		padding-left: 70px;
		padding-right: 0;
	}
}
@media(min-width:992px){
	#processos .content-size {
		width: 970px;
	}
	#processos h2 {
		padding-left: 70px;
	}
	#processos .col-archive-processos {
		padding-left: 70px;
		padding-right: 0;
	}
}
@media(min-width:1200px){
	#processos .content-size {
		width: 1170px;
	}
	#processos h2 {
		padding-left: 75px;
	}
	#processos .col-archive-processos {
		padding-left: 140px;
		padding-right: 0;
	}
}

.processos {
	position: relative;
	padding-left: 30px;
}
.processos h5 {
	color: #939598;
	text-transform: uppercase;
	font-size: 25px;
    font-weight: 200;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.processos h4 {
	font-size: 15px;
    color: #777;
    margin-bottom: 50px;
}
.processos h4 a {
	color: #777;
}
.processos h4 a:hover {
	text-decoration: none;
}
.processos .open-gallery {
	position: absolute;
	right: 30px;
	top: 80px;
	z-index: 1000;
	cursor: pointer;
}
.processos p {
	color: #939598;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0.5px;
    line-height: 23px;
}
@media(max-width:767px){
	.processos p {
		text-align: left;
	}
}
.processos .video {
	margin-top: 100px;
}
@media(max-width:991px){
	.processos .video {
		margin-top: 0px;
	}
}
.processos iframe {
	width: 100%;
	padding-right: 15px;
}
@media(max-width:767px){
	.processos iframe {
		height: 500px;
	}
}
@media(min-width:768px){
	.processos iframe {
		margin-bottom: 20px;
		height: 500px;
	}
	.processos .video .col-descricao-video {
		margin-bottom: 100px;
	}
}
@media(min-width:992px){
	.processos iframe {
		margin-bottom: 50px;
		height: 300px;
	}
}
@media(min-width:1200px){}

.processos .galeria-single img {
	width: 100%;
}

@media(max-width:767px){
	.processos #slider-single-processos img {
		margin-top: 0px;
		width: 100% !important;
		height: auto;
		max-height: none;
	}
}
@media(min-width:768px){
	.processos #slider-single-processos img {
		margin-top: 0px;
		width: auto !important;
		max-height: 320px;
	}
	.processos #slider-single-processos .col-image,
	.processos #slider-single-processos .col-texto {
		padding-left: 0px !important;
	}
}
@media(min-width:992px){
	.processos #slider-single-processos img {
		margin-top: 0px;
		width: auto !important;
		max-height: 450px;
		float: left;
		margin-right: 60px;
	}
	.processos #slider-single-processos .col-image,
	.processos #slider-single-processos .col-texto {
		padding-left: 0px !important;
	}
}
.processos #slider-single-processos .owl-prev,
.processos #slider-single-processos .owl-next {
	background: transparent !important;
	color: #939598;
	font-size: 30px;
}
.processos .owl-nav {
	position: absolute;
	top: -30px;
	right: 0px;
}
@media (max-width: 767px){
	.processos .owl-nav {
		top: -60px;
	}
}
.processos .col-conteudo-processos {
	padding-left: 0px !important;
}
.nome-fotografo-processos {
    font-weight: 200;
    font-size: 13px;
    letter-spacing: 0.5px;
    color: #939598;
    font-family: Lato;
}
@media (min-width: 768px){
	.processos .conteudo-processos .nome-fotografo-processos {
		position: relative;
		top: 0px;
    	right: 0px;
	}
}
@media (min-width: 991px){
	.processos .conteudo-processos .nome-fotografo-processos {
		position: relative;
	    top: 35px;
	}
}
@media (max-width: 991px){
	.owl-carousel.owl-drag .owl-item {
		padding-bottom: 35px;
	}
	.processos .conteudo-processos .nome-fotografo-processos {
		position: relative;
		top: 35px;
	}
	.processos iframe {
		margin-bottom: 20px;
		margin-top: 20px;
	}
}

.processos .modal {
	background: #ffffff !important;
}
.processos .modal-dialog {
	width: 100% !important;
	margin: 0 !important;
	height: 100vh;
}
.processos .modal-content {
	box-shadow: none !important;
    border: none !important;
}
.processos .modal-header {
	border: none !important;
	margin-top: 80px;
}
.processos .modal-title {
	font-size: 25px;
	color: #808285;
	text-transform: uppercase;
	font-weight: 200;
    letter-spacing: 1px;
}
#slider-modal-processos .item img {
	margin: auto;
    display: block;
    width: 100%;
}
#slider-modal-processos .owl-nav {
	top: -70px !important;
}
#slider-modal-processos .owl-next, #slider-modal-processos .owl-prev {
	background: transparent !important;
    color: #000;
    font-size: 30px;
}
.processos .modal-header .close {
	margin-top: 13px;
	opacity: 1;
	outline: none;
}
#modal-processos .nome-fotografo {
	position: relative !important;
	float: right;
}
.processos .conteudo-processos {
	margin-top: 50px;
}
.processos .conteudo-processos img {
	width: 100%;
	height: 100%;
	margin-bottom: 20px;
}
.processos .conteudo-processos figure {
	border: none;
}
.processos .conteudo-processos .wp-caption .wp-caption-text {
	color: #939598;
    font-size: 15px;
    font-weight: 200;
    line-height: 23px;
    letter-spacing: 1px;
}
.processos .conteudo-processos .wp-caption .wp-caption-text:before {
	content: none;
}
.processos span a,
.processos span a:hover {
	font-size: 14px;
	color: #939598;
	position: relative;
	top: -10px;
	font-weight: 200;
	text-decoration: none;
	letter-spacing: 0.5px;
}
.processos .voltar-processos {
	position: relative;
    z-index: 1000;
    text-align: center;
    color: #777;
}
.processos .voltar-processos a, .processos .voltar-processos a:hover {
	color: #939598;
	text-decoration: none;
	letter-spacing: 1px;
}



.dropdown-exposicoes li a {
	font-weight: 200 !important;
}
#archive-exposicoes-individuais {
	color: #777;
}
#archive-exposicoes-individuais h2 {
	font-size: 25px;
	text-transform: uppercase;
	margin-bottom: 70px;
	font-weight: 200;
	letter-spacing: 2px;
	padding-left: 10px;
	color: #939598;
}
#archive-exposicoes-individuais .row {
	margin-bottom: 100px;
	padding-left: 10px;
}
#archive-exposicoes-individuais h5 {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 15px;
	margin-bottom: 5px;
	color: #939598;
	letter-spacing: 1px;
	margin-top: 5px;
}
#archive-exposicoes-individuais span {
	font-size: 13px;
	color: #939598;
	font-weight: 200;
	letter-spacing: 0.5px;
}
#archive-exposicoes-individuais p {
	font-size: 15px;
	font-weight: 200;
	padding-right: 125px;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 23px;
	letter-spacing: 1px;
	color: #939598;
}
#archive-exposicoes-individuais em {
	font-family: 'Lato', sans-serif;
}
#archive-exposicoes-individuais a {
	cursor: pointer;
}
#archive-exposicoes-individuais .btn-ver-mais {
	font-size: 14px;
	color: #939598;
	font-weight: 200;
    letter-spacing: 1px;
}
#archive-exposicoes-individuais img {
	width: 100%;
}




.single-individuais {
	position: relative;
	color: #777;
}
.single-individuais h2 {
	font-size: 25px;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 2px;
    color: #939598;
}
.single-individuais a:hover {
	text-decoration: none;
}
.single-individuais span {
	font-size: 14px;
    color: #939598;
    font-weight: 200;
    text-decoration: none;
    letter-spacing: 0.5px;
}
.single-individuais p,
.single-individuais ol,
.single-individuais ol li,
.single-individuais em,
.single-individuais .paragrafo-single-exposicoes i {
	font-size: 15px;
	color: #777;
	line-height: 25px;
    font-weight: 200;
    line-height: 23px;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
}
.single-individuais h5 {
	color: #777;
	text-transform: uppercase;
	font-size: 30px;
    font-weight: 200;
    letter-spacing: 1px;
}
.single-individuais h4 {
	font-size: 15px;
    color: #777;
    margin-bottom: 50px;
}
.single-individuais h4 a {
	color: #777;
}
.single-individuais h4 a:hover {
	text-decoration: none;
}
.single-individuais .paragrafo-single-exposicoes {
	margin-top: 70px;
	margin-bottom: 80px;
}
.single-individuais .imagens-galeria {
	margin-top: 50px;
	padding: 0px;
}
@media(max-width:767px){
	.single-individuais .open-gallery {
		position: absolute;
		right: 20px;
		top: -40px;
		z-index: 1000;
		cursor: pointer;
	}
}
@media(min-width:768px){
	.single-individuais .open-gallery {
		position: absolute;
		right: 20px;
		top: -40px;
		z-index: 1000;
		cursor: pointer;
	}
}
@media(min-width:992px){
	.single-individuais .open-gallery {
		top: 7px;
	}
}
@media(max-width:767px){
	.single-individuais h5 {
		text-align: center;
	}
}
@media(max-width:767px){
	.single-individuais p {
		text-align: left;
	}
}
.single-individuais .galeria-single img {
	width: 100%;
	margin-bottom: 30px;
	cursor: pointer;
}
.single-individuais #slider-single-individuais .owl-wrapper-outer {
	margin-bottom: 20px;
}
.single-individuais #slider-single-individuais .owl-item {
	max-height: 680px;
}

@media(max-width:767px){
	.single-individuais #slider-single-individuais .owl-item {
		max-height: none;
	}
	.single-individuais #slider-single-individuais img {
		height: auto;
		padding-right: 0px !important;
	}
}
@media(min-width:768px){
	.single-individuais #slider-single-individuais img {
		padding: 15px;
	    margin-top: -15px;
	    max-height: 400px;
	    width: auto !important;
	}
}
@media(min-width:992px){
	.single-individuais #slider-single-individuais img {
	padding: 15px;
	margin-top: -20px;
	max-height: 430px;
}
}
@media(min-width:1200px){}
.single-individuais #slider-single-individuais .owl-prev,
.single-individuais #slider-single-individuais .owl-next {
	background: transparent !important;
	color: #939598;
	font-size: 30px;
}
@media(max-width:767px){
	.single-individuais .owl-nav {
		position: absolute;
		top: -70px;
		right: 35px;
	}
}
@media(min-width:768px){
	.single-individuais .owl-nav {
		position: absolute;
		top: -70px;
		right: 35px;
	}
}
@media(min-width:992px){
	.single-individuais .owl-nav {
		top: -23px;
	}
}
.single-individuais .modal {
	background: #ffffff !important;
}
.single-individuais .modal-dialog {
	width: 100% !important;
	margin: 0 !important;
	height: 100vh;
}
.single-individuais .modal-content {
	box-shadow: none !important;
    border: none !important;
}
.single-individuais .modal-header {
	border: none !important;
	margin-top: 80px;
}
.single-individuais .modal-title {
	font-size: 25px;
	color: #808285;
	text-transform: uppercase;
	font-weight: 200;
    letter-spacing: 1px;
}
#slider-modal-individuais .item img {
	margin: auto;
    display: block;
    width: 100%;
}
#slider-modal-individuais .owl-nav {
	top: -70px !important;
}
#slider-modal-individuais .owl-next, #slider-modal-individuais .owl-prev {
	background: transparent !important;
    color: #808285;
    font-size: 30px;
}
.single-individuais .modal-header .close {
	margin-top: 23px;
	opacity: 1;
	outline: none;
}
#modal-artes .nome-fotografo {
	position: relative !important;
	float: right;
}
.single-individuais .item {
	padding-bottom: 50px;
}

@media(min-width:768px){
	.single-individuais .slider-fotografo-individuais {
	    position: relative;
	    top: 0px;
	    left: 14px;
		color: #939598;
	}
}
@media(min-width:992px){
	.single-individuais .slider-fotografo-individuais {
	    left: 0px;
	}
}
@media(min-width:1200px){}




#exposicoes-coletivas {
	color: #777;
}
#exposicoes-coletivas h2 {
	font-size: 25px;
	text-transform: uppercase;
	margin-bottom: 70px;
	font-weight: 200;
	letter-spacing: 2px;
	padding-left: 15px;
	color: #939598;
}
#exposicoes-coletivas h5 {
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 2px;
	color: #939598;
}
#exposicoes-coletivas p {
	margin-bottom: 5px;
	letter-spacing: 1px;
	font-weight: 200;
	font-size: 15px;
}
#exposicoes-coletivas .col-coletivas {
	margin-bottom: 50px;
}




#page-publicacoes {
	color: #777;
}
#page-publicacoes h2 {
	font-size: 25px;
	text-transform: uppercase;
	margin-bottom: 70px;
	font-weight: 200;
	letter-spacing: 2px;
	padding-left: 10px;
	color: #939598;
}
#page-publicacoes .row {
	margin-bottom: 100px;
	padding-left: 10px;
}
#page-publicacoes h5 {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 15px;
	margin-bottom: 5px;
	color: #939598;
	letter-spacing: 1px;
	margin-top: 5px;
}
@media(max-width:767px){
	#page-publicacoes h5 {
		margin-top: 20px;
	}
}
#page-publicacoes span {
	font-size: 13px;
	color: #939598;
	font-weight: 200;
	letter-spacing: 0.5px;
	font-family: 'Lato', sans-serif;
}
#page-publicacoes p {
	font-size: 14px;
	font-weight: 200;
	padding-right: 125px;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 23px;
	letter-spacing: 1px;
	color: #939598;
}
#page-publicacoes em {
	font-family: 'Lato', sans-serif;
}
#page-publicacoes a {
	cursor: pointer;
}
#page-publicacoes .btn-ver-mais {
	font-size: 14px;
	color: #939598;
	font-weight: 200;
    letter-spacing: 1px;
}
#page-publicacoes img {
	width: 100%;
}





.archive-textos {
	color: #939598;
}
.archive-textos h2 {
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 2px;
	color: #939598;
}
.archive-textos .box-textos {
	margin-top: 60px;
    margin-bottom: 0px;
}
.archive-textos .box-textos a {
    font-size: 15px;
    line-height: 22px;
    font-weight: 200;
    line-height: 23px;
    letter-spacing: 1px;
    color: #939598;
}
.archive-textos .img-lilian {
	/*float: right;
	padding-right: 0px;
	margin-top: -60px;
	margin-bottom: 50px;*/
    position: absolute;
    right: 0;
    display: block;
    margin: auto;
}
.archive-textos .img-lilian-2 {
	margin-top: 600px !important;
}
.archive-textos .img-lilian-3 {
	margin-top: 1070px !important;
}
.archive-textos .img-lilian-4 {
	margin-top: 980px !important;
}
.archive-textos .legenda-cronologia {
	font-size: 12px;
    line-height: 18px;
    font-weight: 200;
    font-family: Lato;
    letter-spacing: 0.3px;
    margin-top: 20px;
    position: absolute;
}
@media(max-width:767px){
	.archive-textos .legenda-cronologia {
		margin-left: auto;
		left: 0;
		right: 13px;
		bottom: 30px;
		top: auto;
		text-align: center;
	}
}
@media(min-width:768px){
	.archive-textos .legenda-cronologia {
		margin-left: 92px;
		top: 220px;

	}
}
@media(min-width:992px){
	.archive-textos .legenda-cronologia {
		margin-left: 133px;
		top: 140px;
		margin-right: 110px;
	}
}
@media(min-width:1200px){
	.archive-textos .legenda-cronologia {
	    margin-left: 193px;
	    top: 180px;
	}
}

@media(max-width:767px){
	.archive-textos .img-lilian-2 {
		display: none;
	}
	.archive-textos .img-lilian-3 {
		display: none;
	}
	.archive-textos .img-lilian-4 {
		display: none;
	}
}
.archive-textos h5 {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 1px;
}
.archive-textos p {
	font-size: 15px;
	line-height: 22px;
	font-weight: 200;
	line-height: 23px;
    letter-spacing: 1px;
}
.archive-textos p i {
	font-family: Lato;
}
.archive-textos h4 {
	font-size: 12px;
	margin-left: 50px;
	line-height: 22px;
	font-weight: 200;
}


@media(max-width:767px){}
@media(min-width:768px){
	.archive-textos .container {
		padding: 0;
	}
	.archive-textos .box-textos {
		margin-right: 0px;
		padding-left: 0;
	}
	.archive-textos h2 {
		padding-left: 15px;
	}
}
@media(min-width:992px){
	.archive-textos .container {
		padding-left: 15px;
		padding-right: 15px;
	}
	.archive-textos .box-textos {
		padding-left: 60px;
	}
	.archive-textos h2 {
		padding-left: 75px;
	}
}
@media(min-width:1200px){}




.single-textos {
	color: #939598;
}
.single-textos h2 {
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 2px;
	color: #939598;
}
.single-textos .box-textos {
	margin-top: 60px;
    margin-bottom: 0px;
}
.single-textos .box-textos a {
    font-size: 15px;
    line-height: 22px;
    font-weight: 200;
    line-height: 23px;
    letter-spacing: 1px;
    color: #939598;
}
.single-textos .box-textos figure {
	border: none;
}
.single-textos .box-textos figcaption {
	font-size: 12px;
	font-weight: 200;
    line-height: 23px;
    letter-spacing: 1px;
    color: #939598;
    padding-left: 0;
    font-family: 'Lato', sans-serif;
}
.single-textos .box-textos figcaption:before {
	display: none;
}
.single-textos .img-lilian {
    position: absolute;
    right: 0;
    display: block;
    margin: auto;
}
.single-textos .img-lilian-2 {
	margin-top: 600px !important;
}
.single-textos .img-lilian-3 {
	margin-top: 1070px !important;
}
.single-textos .img-lilian-4 {
	margin-top: 980px !important;
}
.single-textos .legenda-cronologia {
	font-size: 12px;
    line-height: 18px;
    font-weight: 200;
    font-family: Lato;
    letter-spacing: 0.3px;
    margin-top: 20px;
    position: absolute;
}
@media(max-width:767px){
	.single-textos .legenda-cronologia {
		margin-left: auto;
		left: 0;
		right: 13px;
		bottom: 30px;
		top: auto;
		text-align: center;
	}
}
@media(min-width:768px){
	.single-textos .legenda-cronologia {
		margin-left: 92px;
		top: 220px;

	}
}
@media(min-width:992px){
	.single-textos .legenda-cronologia {
		margin-left: 133px;
		top: 140px;
		margin-right: 110px;
	}
}
@media(min-width:1200px){
	.single-textos .legenda-cronologia {
	    margin-left: 193px;
	    top: 180px;
	}
}

@media(max-width:767px){
	.single-textos .img-lilian-2 {
		display: none;
	}
	.single-textos .img-lilian-3 {
		display: none;
	}
	.single-textos .img-lilian-4 {
		display: none;
	}
}
.single-textos h5 {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
}
.single-textos p {
	font-size: 14px;
	line-height: 22px;
	font-weight: 200;
	line-height: 23px;
    letter-spacing: 1px;
    color: #777;
}
.single-textos p i {
	font-family: Lato;
}
.single-textos h4 {
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 2px;
	margin-bottom: 30px;
}
.single-textos .box-notas {
	margin-top: 80px;
	margin-bottom: 25px;
}
.single-textos .box-referencias {
	margin-top: 80px;
	margin-bottom: 25px;
}
.single-textos .box-notas p {
	margin-bottom: 25px;
}
.single-textos .box-referencias p {
	margin-bottom: 25px;
}
.single-textos .col-imagens-textos {
	margin-top: 60px;
}
.single-textos .box-imagem-textos {
	margin-bottom: 175%;
}
.single-textos .box-imagem-textos .img-textos {
	width: 70%;
	display: block;
	margin: auto;
}
.single-textos .box-imagem-textos .legenda-textos {
	width: 70%;
    text-align: right;
    margin: auto;
    font-size: 14px;
}


@media(max-width:767px){}
@media(min-width:768px){
	.single-textos .container {
		padding: 0;
	}
	.single-textos .box-textos {
		margin-right: 0px;
		padding-left: 0;
	}
	.single-textos h2 {
		padding-left: 15px;
	}
}
@media(min-width:992px){
	.single-textos .container {
		padding-left: 15px;
    	padding-right: 15px;
	}
	.single-textos .box-textos {
		padding-left: 60px;
		max-width: 590px;
	}
	.single-textos h2 {
		padding-left: 75px;
	}
}
@media(min-width:1200px){}



#sidebar {
	display: none;
}

#footer {
	background-color: transparent !important;
}
#footer p {
	color: #626262;
	font-weight: 200;
	font-size: 10px;
	margin-top: 100px;
}

.contato {
	color: #777;
}
.contato h2 {
	font-size: 25px;
    text-transform: uppercase;
    font-weight: 200;
    padding-left: 10px;
    letter-spacing: 2px;
    color: #939598;
    margin-bottom: 50px;
}
.contato .wpcf7 {
	padding-left: 10px;
}
.contato form {
	width: 44%;
	position: relative;
}
.contato form label {
	display: block !important;
	margin-bottom: -10px;
}
.contato form input {
	padding: 0px 10px;
    font-size: 14px;
    height: 30px;
    width: 100%;
    font-weight: 200;
    outline: none;
}
.contato form textarea {
	width: 100%;
    padding: 5px 10px;
    font-weight: 200;
    resize: none;
    outline: none;
}
.contato form .btn-enviar {
	float: right;
    width: 25%;
    text-transform: uppercase;
    color: #939598;
    border-radius: 0;
    border-color: #939598;
    letter-spacing: 1px;
    margin-top: 10px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #777;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #777;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #777;
}
:-moz-placeholder { /* Firefox 18- */
  color: #777;
}
@media(max-width:767px){
	.contato form {
		width: 100%;
	}
}
@media(min-width:768px){
	.contato form {
		width: 100%;
	}
}
@media(min-width:1200px){
	.contato form {
		width: 44%;
	}
}


/* GERAL */
@media(max-width:767px){
	#artes h2,
	.single-artes h5,
	.contato h2 {
		margin-top: 40px;
		margin-bottom: 30px;
		text-align: left !important;
	}
	#citacoes h2,
	#processos h2,
	#archive-exposicoes-individuais h2,
	#exposicoes-coletivas h2,
	#page-publicacoes h2 {
		margin-top: 40px;
		margin-bottom: 35px;
		text-align: left !important;
		padding-left: 15px !important;
	}
	.single-individuais .paragrafo-single-exposicoes {
		text-align: center;
	}
	#cronologia h2 {
		padding-left: 15px;
		margin-top: 40px;
    	margin-bottom: 30px;
	}
	#cronologia .box-citacoes {
		margin-right: 0px;
		margin-bottom: 20px;
	}
	#cronologia .img-lilian {
		width: 50%;
    	margin-top: 60px;
    	margin-bottom: 60px;
    	position: relative;
	}
	#citacoes .img-lilian {
		width: 70%;
	    margin-left: 15%;
	    margin-right: 15%;
	    margin-top: 0px;
	    position: relative;
	}
	#cronologia .box-image-cronologia {
		padding: 0;
	}
	#cronologia .row-cronologia {
		padding-left: 0;
	}
	.processos {
		padding-left: 15px;
    	padding-right: 15px;
	}
	.processos h5 {
		margin-top: 40px;
	}
	#citacoes .box-citacoes {
		margin-right: 0px;
	}
	.contato h2 {
		padding-left: 20px !important;
	}
	.contato form input {
		border: 1px solid #939598;
	}
	.contato form textarea {
		border: 1px solid #939598;
	}
	.nav > li.dropdown.open .dropdown-menu {
		margin-top: 0px;
	}
	header .exposicoes-options {
		width: auto;
		padding-left: 15px;
	}
	.menu-home .dropdown-exposicoes h5 {
		text-align: left !important;
	}
	header .dropdown-menu a {
		font-weight: 200;
	}
	.contato .wpcf7 {
		padding-left: 15px;
		padding-right: 15px;
	}
	#archive-exposicoes-individuais,
	#page-publicacoes {
		padding-right: 15px;
	}
	.single-individuais .galeria-single {
		display: none;
	}
	.single-individuais .imagens-galeria {
		padding-right: 15px;
	}
	#artes .conteudo-archive-arte {
		margin-top: 40px;
	}
	#artes h2 {
		margin-bottom: 30px !important;
	}
	#artes h5 {
		margin-top: 0px;
	}
}
@media(min-width:768px){
	#cronologia .img-lilian {
		width: 70%;
		margin-top: 0px;
	}
	#cronologia .box-destaque {
		margin-left: 65px;
	}
	#cronologia h2 {
		margin-bottom: 57px;
		padding-left: 0px;
	}
	#cronologia .row-cronologia {
		padding-left: 0px;
	}
	#citacoes .img-lilian {
		width: 70%;
		margin-top: -20px;
		position: absolute;
		right: 0px;
	}
	#citacoes .box-destaque {
		margin-left: 0px;
	}
	#citacoes h2 {
		margin-bottom: 57px;
		padding-left: 0px;
	}
	.contato form input {
		border: 1px solid #939598;
	}
	.contato form textarea {
		border: 1px solid #939598;
	}
	body.archive.post-type-archive.post-type-archive-citacoes .container {
		position: relative;
	}
}
@media(min-width:992px){
	header .dropdown-menu {
		padding-left: 20%;
	}
	#cronologia .img-lilian {
		margin-bottom: 100px;
		width: 40%;
		margin-right: 110px;
	}
	#cronologia .box-destaque {
		margin-left: 35px;
	}
	#cronologia h2 {
		margin-bottom: 0px;
		padding-left: 75px;
	}
	#cronologia .row-cronologia {
		padding-left: 80px;
	}
	#citacoes .img-lilian {
		width: 700px;
		margin-bottom: 80px;
		position: relative;
		margin-top: 0px;
		right: 0px;
	}
	#citacoes .box-destaque {
		margin-left: 35px;
		z-index: 1000;
	}
	#citacoes h2 {
		margin-bottom: 0px;
	}
}
@media(min-width:1200px){
	#cronologia .img-lilian {
		margin-bottom: 50px;
		margin-right: 110px;
	}
	#cronologia .box-destaque {
		margin-left: 35px;
	}
	#citacoes .img-lilian {
		width: 770px;
		margin-bottom: 50px;
	}
	#citacoes .box-destaque {
		margin-left: 0px;
	}
}


@media (min-width: 992px) {
	.home .container {
	    width: 800px;
	}
	.home #footer p {
		margin-top: 0px;
	}
}
@media (min-width: 992px) {
	body.page.page-id-7.page-template-default .container {
		width: 800px;
		padding: 0px;
	}
	body.page.page-id-7.page-template-default #footer p {
		margin-top: 0px;
	}
}

@media (min-width: 1400px) {
	body.page.page-id-7.page-template-default .container {
		width: 1000px !important;
	}
	body.home.page.page-id-5.page-template-default .container {
		width: 1000px !important;
	}
}
