* {
	font-family: 'Montserrat', sans-serif;
}

header {
	padding-top: 40px;
	padding-bottom: 40px;
}
header .menu {
	text-align: right;
}
header .menu a {
	margin-left: 35px;
	font-size: 16px;
	color: #626262;
}
header .menu a:hover {
	text-decoration: none;
}
header .dropdown-menu a {
	color: #000;
}
header .dropdown-menu a:hover {
	color: #000;
	text-decoration: none;
}

@media (min-width: 768px) {
	.navbar-nav {
	    float: right !important;
	    margin-top: -15px !important;
	    font-weight: 200 !important;
	}
	.navbar-default {
		background-color: transparent !important;
	    border-color: transparent !important;
	    margin-bottom: 0px !important;
	    min-height: 0px !important;
	    border: none !important;
	    max-height: 20px;
	}
}

.content-size {
	margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media(min-width:768px){
	.content-size {
		width: 629px;
	}
}
@media(min-width:992px){
	.content-size {
		width: 850px;
	}
}
@media(min-width:1200px){
	.content-size {
		width: 1040px;
	}
}

.nav > li.dropdown.open {
    position: static;
}
.nav > li.dropdown.open .dropdown-menu {
    display:table; 
    width: 100%; 
    text-align: center; 
    left:0;
    right:0;
    background: #d1d1d1;
    border-radius: 0;
    border: none;
    box-shadow: none;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	background-color: transparent !important;
	border-bottom: 5px solid #d1d1d1;
}
.dropdown.open .dropdown-menu li span {
	font-size: 12px;
    font-weight: 700;
    color: #717171;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	background-color: transparent !important;
}

#citacoes {
	color: #939598;
}
#citacoes h2 {
	font-size: 25px;
	text-transform: uppercase;
	padding-left: 75px;
	font-weight: 200;
}
#citacoes .box-citacoes {
	margin-right: 280px;
        margin-bottom: 70px;
}
#citacoes .img-lilian {
	float: right;
	padding-right: 30px;
}
#citacoes h5 {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 400;
}
#citacoes p {
	font-size: 14px;
	line-height: 25px;
	font-weight: 200;
}
#citacoes h4 {
	font-size: 12px;
	margin-left: 50px;
	line-height: 22px;
	font-weight: 200;
}


@media(max-width:767px){}
@media(min-width:768px){
	#citacoes .box-citacoes {
		margin-right: 0px;
	}
	#citacoes .box-destaque {
		position: relative;
		width: auto;
		top: 0px;
	}
}
@media(min-width:992px){
	#citacoes .box-citacoes {
		margin-right: 280px;
	}
	#citacoes .box-destaque {
		position: absolute;
		width: 40%;
		background: #ffffff;
		top: 80px;
		left: -113px;
	}
}
@media(min-width:1200px){}




#artes {
	color: #808285;
}
#artes h2 {
	font-size: 25px;
	text-transform: uppercase;
	margin-bottom: 50px;
	font-weight: 200;
	letter-spacing: 2px;
	padding-left: 15px;
}
#artes h5 {
	font-size: 16px;
}
#artes p {
	font-size: 12px;
	font-weight: 200;
	padding-right: 125px;
}
#artes a {
	cursor: pointer;
}

.single-artes {
	position: relative;
}
.single-artes h5 {
	color: #777;
	text-transform: uppercase;
	font-size: 30px;
    font-weight: 200;
    letter-spacing: 1px;
    margin-bottom: 25px;
}
@media(max-width:767px){
	.single-artes h5 {
		text-align: center;
	}
}
.single-artes p {
	color: #777;
}
@media(max-width:767px){
	.single-artes p {
		text-align: center;
	}
}
.single-artes .galeria-single img {
	width: 100%;
}
.single-artes #slider-single-artes img {
	padding: 15px;
	margin-top: 50px;
	width: 100%;
}
.single-artes #slider-single-artes .owl-prev,
.single-artes #slider-single-artes .owl-next {
	background: transparent !important;
	color: #000;
	font-size: 30px;
}
.nome-fotografo {
	position: absolute;
    left: 28px;
    bottom: -35px;
    font-weight: 200;
}
.owl-buttons {
	position: absolute;
	top: 0;
	right: 0;
}

#sidebar {
	display: none;
}

#footer {
	background-color: transparent !important;
}
#footer p {
	color: #626262;
	font-weight: 200;
	font-size: 10px;
	margin-top: 100px;
}